<div class="feature">
  <header class="headline">
    <h2>Symptom Sleuth (WIP)</h2>
    <p>Map associations between symptoms, diagnoses and treatment plans</p>
    <a href="http://dev.symptomsleuth.com/" class="cta" target="_blank">Visit site</a>
  </header>
</div>
<article class="fewd">
  <ul class="tech">
    <li>HTML</li>
    <li>Bootstrap</li>
    <li>Sass</li>
    <li>JS</li>
    <li>Angular 1</li>
    <li>Gulp</li>
  </ul>
  <figure>
    <img src="views/frontendwebdevelopment/symptomsleuth/fig1.jpg" alt="" />
    <figcaption>Figure 1. Wireframe sketch for Symptom Sleuth (previously called MD Mindmap)</figcaption>
  </figure>  
</article>