<div class="feature">
	<canvas></canvas>
  <header class="headline">
    <h2>Writing &amp; Speaking</h2>
  </header>
</div>
<article>
	  <h4>ChemDoodle Web Components: HTML5 toolkit for chemical graphics, interfaces, and informatics</h4>
	  <span>Publication</span>
	  <a href="http://jcheminf.springeropen.com/articles/10.1186/s13321-015-0085-3" target="_blank">Link</a>
	  <span>Journal of Cheminformatics, July 2015</span>

		<h4>Creating visual content for the web &commat;Imagineeringart</h4>
		<span>Presentation</span>
		<a href="views/writingandspeaking/CSC2015.pdf" download>Download PDF</a>
		<span>Canadian Chemistry Conference, June 2015</span>	  

  	<h4>How to get a molecule on your website</h4>
  	<span>Presentation</span>
  	<a href="http://slides.com/mbrgr/how-to-molecule">Link</a>
  	<span>BMCAA Unconference, Nov 2014</span>

  	<h4>Two challenges of molecular visualization</h4>
  	<span>Blog post</span>
  	<a href="http://www.imagineeringart.com/two-challenges-of-molecular-visualization/">Link</a>
  	<span>Sept 2014</span>	  

  	<h4>Organic chemistry reactions online</h4>
  	<span>Presentation</span>
  	<a href="http://slides.com/mbrgr/icce2014">Link</a>
  	<span>IUPAC International Conference on Chemistry Education, June 2014</span>

  	<h4>Lab<sub>3</sub>D: a new web-based resource of interactive, animated organic chemistry reactions</h4>
  	<span>Publication</span>
  	<a href="/app/views/writingandspeaking/CCCE2013.pdf" download>Download PDF</a>
  	<span>ACS Committee on Computers in Chemical Education, Oct 2013</span>

  	<h4>Lab<sub>3</sub>D online interactive organic chemistry reactions a new molecular visualization resource for undergraduate students</h4>
  	<span>Poster</span>
  	<a href="views/writingandspeaking/GRC2013.pdf" download>Download PDF</a>
  	<span>Gordon Research Conference, July 2013</span>
</article>