// Media querie variables
$sm-ish: 350px;
$md-ish: 700px;
$lg-ish: 1400px;

// Colour variables
$white: #fff;
$accent-1: #f66167; //coral
$accent-2: #f24665; //red
$accent-3: #f90b62; //magenta
$light-neutral-1: #fbfbfa; //very pale beige
$light-neutral-2: #f6f6ef; //pale beige
$dark-neutral-1: #35353a; //dark grey

// Font stack variables
$serif-1: Georgia, "Times New Roman", serif;
$sans-serif-1: Avenir, Helvetica, Arial, sans-serif;

// General mixins
@mixin show {
	border: 1px solid blue;
	background-color: rgba(0,0,0,0.25);
}

// Project-wide base styles
html {
	font-family: $sans-serif-1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif-1;
}

body {
	background-color: $light-neutral-2;
}