// Media querie variables
$sm-ish: 350px;
$md-ish: 700px;
$lg-ish: 1400px;

// Colour variables
$accent-1: #f66167; //coral
$light-neutral: #FBFBFA;

// General mixins
@mixin show {
	border: 1px solid blue;
	background-color: rgba(0,0,0,0.25);
}

// .content {
// 	background-color: bisque !important;
// }