// Media querie variables
$sm-ish: 350px;
$md-ish: 700px;
$lg-ish: 1400px;

// Colour variables
$white: #fff;
$black: #000;

$light-1: #f1f2f3; //warm off-white (background)
$light-2: lighten($light-1, 2%);
// $mid-1: #eae6e7; //warm taupe (feature bkgd)
$mid-1: #e9e7e8;
$mid-2: #dee1e4; //cool gray (feature bkgd)
$dark-1: #36393c; //dark cool grey (text)

$accent-1: #f66167; //coral (logo)
$accent-2: #f24665; //red (logo)

// Font stack variables
$serif-1: Georgia, "Times New Roman", serif;
$sans-serif-1: Avenir, Helvetica, Arial, sans-serif;

// transitions
$short-trns: 200ms;
$long-trns: 500ms;
$easing: cubic-bezier(0.250, 0.460, 0.450, 0.940);

// General mixins
@mixin show {
	border: 1px solid blue;
	background-color: rgba(0,0,0,0.25);
}

// Project-wide base styles
html {
	font-family: $sans-serif-1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif-1;
}

body {
	background-color: $light-1;
}