.feature {
	canvas {
		background-color: $mid-2;
		background: linear-gradient(to bottom, $mid-1 0%,$mid-2 100%);
	}
	.quote {
		h2 {
			color: $dark-1;
			font-size: 2rem;
		}
		footer {
			font-size: 1rem;
			text-align: right;
		}
	}
}

@media screen and (max-width: $md-ish) { 
	.feature {
		.quote h2 {
			font-size: 1.6rem;
		}		
	}
}