@mixin feature-lg-txt {
	color: $dark-1;
  margin-bottom: 0.45rem;
}

@mixin feature-sm-txt {
	font-size: $sans-sm;
  line-height: 1.58rem;
	text-align: right;
}

.feature {
	canvas {
		@include subtle-bevel-border;
		background-color: $mid-2;
		background: linear-gradient(to bottom, $mid-1 0%,$mid-2 100%);
		padding: $a-padding-vert $a-padding-horz;
	}
	.headline {
		h2 {
			@include feature-lg-txt;
			font-size: $serif-lg;
		}
		p {
			@include feature-sm-txt;
		}
	}
	.quote {
		h2 {
			@include feature-lg-txt;
			font-size: $serif-md;
		}
		footer {
			@include feature-sm-txt;
		}
	}
	.cta {
		@include subtle-bevel-border($accent-1);
		background-color: $accent-1;	
		// background: linear-gradient(to bottom, $accent-1 0%,$accent-2 100%);
		// box-shadow: 0 8px 27px rgba($accent-1, 0.6);
		color: $light-1;
		display: inline-block;
		float: right;
		font-size: $sans-sm;
	  margin-top: 0.75rem;
		padding: $a-padding-vert $a-padding-horz;
		text-decoration: none;
		transition: all $long-trns $easing;
		&:hover {
			// box-shadow: 0 7px 25px rgba($accent-1, 1);
			background-color: $accent-2;
		}
	}
}

@media screen and (max-width: $md-ish) { 
	.feature {
		.headline h2 {
			font-size: $serif-md;
		}		
	}
}