// Layout module variables
$feature-height: 19rem;
@mixin block-sizing {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 2rem;
}

// Layout module styles
html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html,
body {
	height: 100%;
}

.content {
	@include block-sizing;
	display: flex;
	justify-content: center;
	min-height: 100%;
	header {
		flex-basis: 35%;
	}
	section {
		flex-basis: 65%;
	}
}

.logo {
	height: $feature-height;
}

.feature {
	position: relative;
	canvas {
		height: $feature-height;
		width: 100%;
	}
	.headline {
		display: inline-block;
    left: 50%;
    min-width: 80%;
		overflow: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
	}
}

.footer {
	@include block-sizing;
	overflow: auto;
	.headshot,
	.social-media,
	.copyright,
	li {
		float: left;
	}
}

// Layout module responsize media queries
@media screen and (max-width: $md-ish) {
	.content {
		flex-direction: column;
		justify-content: flex-start;
		header {
			text-align: left;
		}
	}	
	.logo {
		height: initial;
	}
	.feature,
	.feature canvas {
		height: 17rem;
	}
}

@media screen and (max-width: $sm-ish) { 
	.feature {
		height: 10rem;
		canvas {
			height: 9rem;
		}
		footer {
			display: none;
		}
	}
}