$padding-li: 15px;

.nav {
	font-size: 1.3rem;
	font-weight: 100;
	padding: 38px 0;
	text-align: right;
	li {
		list-style: none;
	}
	a {
		// background-color: $light-1;
		color: $dark-1;
		display: block;
		padding: $padding-li 30px $padding-li 0;
		text-decoration: none;
		transition: all $short-trns $easing;
		&:hover,
		&:focus {
			// background-color: $mid-2;
			// color: $black;
			color: $accent-1;
		}
	}
}

.nav_sub {
	display: none;
	li {
		border-top: 1px solid $mid-2;
	}
	&.open {
		display: block;
	}
}

@media screen and (max-width: $md-ish) {
	.nav {
		text-align: center;
		li {
			padding: $padding-li 30px $padding-li 30px;
		}
	}
}