$li-padding-vert: 15px;
$li-padding-horz: 36px;
$icon-dist: 12px;
$nav-border: 1px solid $mid-2;

.nav {
	font-size: 1.3rem;
	font-weight: 100;
	padding: 38px 0;
	text-align: right;
	li {
		list-style: none;
	}
	a {
		background-color: $light-1;
		color: $dark-1;
		display: block;
		padding: $li-padding-vert $li-padding-horz $li-padding-vert 0;
		position: relative;
		text-decoration: none;
		transition: all $short-trns $easing;
		&:hover {
			background-color: $mid-2;
		}
	}
}

.nav_sub {
	// styling for menu items containing dropdown menus
	// might need to us JS for animations instead of CSS due to wierd behaviour
	&.active a {
		// active state style
		background-color: $mid-2;
		color: $black;
	}	
	a:after {
		// triangle icon   
    content: "";
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    right: $icon-dist;
    top: 42%;
    background: url("../img/triangle-icon.svg") no-repeat;
    filter: drop-shadow(0 3px 4px rgba($dark-1, 0));
    transition: filter $short-trns $easing;
	}
	a:hover:after {
		filter: drop-shadow(0 3px 4px rgba($dark-1, 0.7));
	}
	& + li {
		// drop down menu
		max-height: 0;
		opacity: 0;
		transition: all $long-trns $easing;
		li {
			border-bottom: $nav-border;
			border-right: $nav-border;
			border-left: $nav-border;
		}
		&.open {
			max-height: 500px;
			opacity: 1;
		}
		a {
			background-color: lighten($light-1, 2%);			
		}
	}
}


@media screen and (max-width: $md-ish) {
	.nav {
		text-align: left;
		a {
			padding-left: $li-padding-horz;
		}
	}
	.nav_sub a:after {
		left: $icon-dist;
	}
}