article {
	h3 {
		font-size: $serif-md;
		margin: ($a-padding-vert*2) $a-padding-horz $a-padding-vert $a-padding-horz;
	}
	p {
		font-size: $sans-sm;
		margin: $a-padding-vert $a-padding-horz;
		line-height: 1.58rem;
	}
	a {
		@include transition(color);
		color: $dark-1;
		&:hover {
			color: $accent-1;
		}
	}
  img {
    width: 100%;
  }
	ol {
		counter-reset: list;
		margin: $a-padding-vert 63px;
    li {
		font-size: $sans-sm;
    list-style: none;
		line-height: 1.58rem;
		margin: 0.58rem 0;
    position: relative;
    }
    li::before {
      counter-increment: list;
      content: counter(list);
      color: lighten($dark-1, 4%);
      font-family: $serif-1;
      font-weight: 700;
      left: -1.3rem;
      position: absolute;
      top: -1px;
    }
    li.q::before {
      content: 'Q';
      top: 0px;
    }
    li.a::before {
      content: 'A';
      top: 0px;
    }    
	}
	pre {
		background-color: $dark-1;
    overflow-x: scroll;
    overflow-y: auto;
    & + pre {
    	margin-top: $a-padding-vert;
    }
    code {
    	color: $light-2;
	    display: inline-block;
    	font-family: $mono-1;
    	line-height: 1.2rem;
    }
    figcaption {
	    float: left;
	    margin-top: -14px;
	    width: 100%;
    }
	}
  figcaption {
  	@include subtle-bevel-border;
  	background-color: $mid-2;
  	color: $dark-1;
  	font-family: $serif-1;
    margin-top: -3px;
    padding: $a-padding-vert $a-padding-horz;
  }	
	.challenge-number {
    background-color: $mid-2;
		color: $light-2;
    display: inline-block;
		float: left;
    font-family: $serif-1;
    font-size: $serif-xlg;
    height: 41px; //Magic number
    line-height: 46px;
    margin-right: 16px;
    margin-top: 3px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 65px; 
	}
}